@font-face {
    font-family: Barlow-large;
    src: url("../fonts/Barlow/Barlow-ExtraBold.ttf");
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/Avenir/Avenir.otf");
}

@font-face {
    font-family: Avenir-black;
    src: url("../fonts/Avenir/Avenir-Black.otf");
}

body {
    background: linear-gradient(#000000, #220c47, #000000);
    color: white;
    font-family: Avenir;
    box-sizing: border-box;
}

#form {
    color: black;
}

.logo-image {
    margin: 50px 60px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-title {
    font-family: Barlow-large;
    font-weight: 900;
    font-size: 120px;
    letter-spacing: 0.02em;
}

.hero-text {
    font-family: Avenir;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.hero-text-highlights {
    font-family: Avenir-black;
    font-weight: bold;
}

.players-image {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 246px;
    background-image: url("../images/players.png");
    background-position: center;
    background-size: cover;
}

.gradient-overlay {
    width: 100%;
    position: absolute;
    bottom: -65px;
}

.main-row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 150px;
}

.form-title {
    font-family: Avenir-black;
    font-size: 50px;
    margin: 0px;
    color: black;
}

.form-desc {
    font-family: Avenir;
    font-size: 20px;
    margin-top: 10px;
    color: #999999;
}

.info-form {
    margin-top: 86px;
    border-radius: 50px;
    background-color: white;
    height: fit-content;
    padding: 50px 30px;
    min-width: 500px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-row input {
    flex: 1;
    margin: 5px 10px;
    height: 50px;
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 0px 10px;
    font-size: 18px;
    color: #5c14e3;
}

.checkbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.form-checkbox-desc {
    font-family: Avenir;
    font-size: 16px;
    color: black;
}

.form-submit-button {
    height: 50px;
    padding: 0px 30px;
    background-color: #5c14e3;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 0px 10px;
    font-size: 18px;
}

.footer {
    margin-top: 70px;
    padding: 80px 150px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.footer-desc-wrapper {
    margin-left: 80px;
}

.footer-desc {
    font-family: Avenir;
    font-size: 16px;
    margin: 0px;
}

.footer-desc-highlight {
    font-family: Avenir-black;
    font-size: 20px;
    font-weight: 900;
}

.footer-link {
    color: white;
    font-family: Avenir;
    font-weight: 900;
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
    text-decoration: underline;
}

.footer-social-buttons-wrapper {
    display: flex;
    flex-direction: row;
}

.footer-social-buttons {
    margin-left: 70px;
    cursor: pointer;
}

@media only screen and (max-width: 1490px) {
    .main-row {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 950px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .footer-rows {
        width: 100%;
        padding: 0px 15px;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .main-section-img {
        width: 100%;
    }

    .main-row {
        padding: 0px 15px;
    }

    .info-form {
        width: 100%;
        min-width: unset;
        box-sizing: border-box;
    }

    .hero-title {
        font-size: 50px;
        text-align: center;
    }

    .hero-text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 630px) {
    .logo-image {
        margin: 16px 30px;
    }

    .form-title {
        font-size: 30px;
    }

    .form-desc {
        font-size: 18px;
    }

    .form-submit-button {
        margin-top: 10px;
        height: 40px;
    }

    .input-row {
        flex-direction: column;
    }

    .input-row input {
        width: 100%;
        height: 40px;
        flex: unset;
    }
}

@media only screen and (max-width: 550px) {
    .footer-rows {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-desc-wrapper {
        margin: 0px;
        margin-top: 10px;
    }

    .footer-info-title {
        margin-top: 30px;
    }

    .footer-social-buttons-wrapper {
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        padding: 0px 20px;
        box-sizing: border-box;
    }

    .footer-social-buttons {
        margin: 0px;
    }
}
