@font-face {
    font-family: Barlow-large;
    src: url("../fonts/Barlow/Barlow-ExtraBold.ttf");
}

@font-face {
    font-family: Avenir;
    src: url("../fonts/Avenir/Avenir.otf");
}

@font-face {
    font-family: Avenir-black;
    src: url("../fonts/Avenir/Avenir-Black.otf");
}

body {
    background: linear-gradient(#000000, #220c47, #000000);
    color: white;
    font-family: Avenir;
    box-sizing: border-box;
}

#form {
    color: black;
}

.logo-image {
    margin: 48px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 48px;
}

.hero-title {
    font-family: Barlow-large;
    font-weight: 900;
    font-size: 120px;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-text {
    font-family: Avenir;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
}

.hero-text-highlights {
    font-family: Avenir-black;
    font-weight: bold;
}

.players-image {
    position: relative;
    margin-top: 100px;
    width: 100%;
    height: 246px;
    background-image: url("../images/players.png");
    background-position: center;
    background-size: cover;
}

.gradient-overlay {
    width: 100%;
    position: absolute;
    bottom: -65px;
}

.main-row {
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 0 48px;
}

.form-title {
    font-family: Avenir-black;
    font-size: 48px;
    margin: 0px;
    color: black;
}

.form-desc {
    font-family: Avenir;
    font-size: 20px;
    margin-top: 10px;
    color: #999999;
}

.info-form {
    margin-top: 86px;
    border-radius: 48px;
    background-color: white;
    height: fit-content;
    padding: 48px 30px;
}

.input-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-row input {
    flex: 1;
    margin: 5px 10px;
    height: 48px;
    border-radius: 5px;
    border: 1px solid #999999;
    padding: 0px 10px;
    font-size: 18px;
    color: #5c14e3;
}

.checkbox-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-checkbox {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.form-checkbox-desc {
    font-family: Avenir;
    font-size: 16px;
    color: black;
}

.form-submit-button {
    height: 48px;
    padding: 0px 30px;
    background-color: #5c14e3;
    color: white;
    border-radius: 5px;
    border: none;
    margin: 0px 10px;
    font-size: 18px;
}

.footer {
    padding: 80px 48px;
}

.footer-desc-wrapper {
    margin-left: 80px;
}

.footer-desc {
    font-family: Avenir;
    font-size: 16px;
    margin: 0px;
}

.footer-desc-highlight {
    font-family: Avenir-black;
    font-size: 20px;
    font-weight: 900;
}

.footer-link {
    color: white;
    font-family: Avenir;
    font-weight: 900;
    font-size: 16px;
    margin: 0px;
    text-decoration: none;
}

.footer-link:hover {
    color: white;
    text-decoration: underline;
}

.footer-social-buttons-wrapper {
    display: flex;
    flex-direction: row;
}

.footer-social-buttons {
    margin-left: 70px;
    cursor: pointer;
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 32px;
    }
}

@media (max-width: 768px) {
    .logo-image {
        margin: 48px 32px;
    }

    .hero-title {
        font-size: 48px;
        margin-bottom: 48px;
    }

    .players-image {
        margin-top: 48px;
    }

    .main-row {
        display: block;
        padding: 0 8px;
    }

    .main-row .main-section-img {
        margin-top: 48px;
    }

    .main-row form {
        margin: 0;
    }

    .footer {
        margin: 0;
        padding: 48px 16px;
    }

    .footer div {
        margin-top: 8px;
    }

    .footer .footer-identity .vstack {
        display: none;
    }

    .footer .footer-links {
        flex-direction: column;
    }

    .footer .footer-links .vstack {
        align-self: flex-start !important
    }
}

@media (max-width: 992px) {
    .footer .footer-social-link {
        margin-left: 0 !important;
    }
}
